name: Waka Readme

on:
  push:
    branches: [ "main" ]
  schedule:
    # every hour
    - cron: '* 1 * * *'

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_LINES_OF_CODE: 'True'
          SHOW_DAYS_OF_WEEK: 'True'
          SHOW_LANGUAGE: 'True'
          SHOW_SHORT_INFO: 'True'
